*.egg-info/
*.pyc
.env
/bin/
/build/
/dist/
/include/
/lib/
/local/
/man/
/p-env/
nosetests.xml

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
vagrant_run.sh
_buildinfo.txt
*.tgz
